.details {
    text-align: center;
}

.detailsName {
    color: red;
    margin-top: 50px;
    font-size: 50px;
}

.detailsLink {
    text-align: center;
    font-size: 20px;
    color: white;
}

.detailsSynopsis {
    text-align: center;
    font-size: 30px;
    color: white;
}